@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}
*{
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}
ul{
    list-style-type: none;
}
select, input, button{
    height: 40px;
}
.wrapper{
    padding: 0 10%;
}
section{
    padding: 40px 0;
    display: grid;
    row-gap: 10px;
}
section h2{
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
 section ul{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
section article {
    border: 1px solid gray;
    padding: 10px;
    display: grid;
    row-gap: 10px;
    
}
section article p {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section article p span {
    justify-self: end;
    font-weight: bold;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,1fr);
}

@media screen and (max-width:1000px){

    section .container {
     grid-template-columns: repeat(4,1fr);
 }
 
  } 
 @media screen and (max-width:800px){

       section .container {
        grid-template-columns: repeat(3,1fr);
    }
    
     } 
 @media screen and (max-width:600px){

       section .container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:400px){
.wrapper {
    padding: 0 1%;
}
   section .container {
    grid-template-columns: 1fr;
}

}
